hosts/default/secrets/syncthing.nix filter=git-agecrypt diff=git-agecrypt
hosts/default/secrets/devices.nix filter=git-agecrypt diff=git-agecrypt
hosts/default/secrets/user.nix filter=git-agecrypt diff=git-agecrypt
hosts/default/secrets/wg.nix filter=git-agecrypt diff=git-agecrypt

hosts/falke/secrets/syncthing.nix filter=git-agecrypt diff=git-agecrypt
hosts/falke/secrets/devices.nix filter=git-agecrypt diff=git-agecrypt
hosts/falke/secrets/user.nix filter=git-agecrypt diff=git-agecrypt
hosts/falke/secrets/wg.nix filter=git-agecrypt diff=git-agecrypt

hosts/nuke/secrets/user.nix filter=git-agecrypt diff=git-agecrypt
hosts/nuke/secrets/devices.nix filter=git-agecrypt diff=git-agecrypt

hosts/arar/secrets/devices.nix filter=git-agecrypt diff=git-agecrypt
hosts/arar/secrets/syncthing.nix filter=git-agecrypt diff=git-agecrypt

hosts/mnhr/secrets/ssh.nix filter=git-agecrypt diff=git-agecrypt
hosts/eulr/secrets/ssh.nix filter=git-agecrypt diff=git-agecrypt

hosts/iso/secrets/iso.nix filter=git-agecrypt diff=git-agecrypt
