---
services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wg-easy
    environment:
      - INSECURE=true
      - DISABLE_IPV6=true
    volumes:
      - wg-easy-config:/etc/wireguard
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    restart: no
    labels:
      - traefik.enable=true
      # HTTPS Router Configuration
      - traefik.http.routers.wg.rule=Host(`${INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.wg.tls=true
      - traefik.http.routers.wg.entrypoints=websecure
      - traefik.http.routers.wg.tls.certresolver=stepca
        # Service Configuration
      - traefik.http.services.wg.loadbalancer.server.port=51821

    networks:
      wg:
        ipv4_address: 10.10.0.2

volumes:
  wg-easy-config:

networks:
  wg:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-wg-easy
    ipam:
      driver: default
      config:
        - subnet: 10.10.0.0/24
